.logo{
    width: 150px;
    height: auto;
}

#copyright{
    text-align: left;
    padding-left: 75px;
    vertical-align: middle;
}

footer{
    background-color: #232525;
    color: #eaeaea;
    margin-bottom: 0;
    padding-bottom: 0;
    flex: 1;
}
