.logo {
  width: 150px;
  height: auto;
  min-width: 80px;
  min-height: 40px;
  flex-shrink: 0;
  object-fit: contain;
}

#copyright {
  text-align: left;
  padding-left: 75px;
  vertical-align: middle;
}

footer {
  background-color: #232525;
  color: #eaeaea;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: auto;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .logo {
    min-width: 60px;
    min-height: 30px;
  }
  #copyright {
    padding-left: 1rem;
  }
}
