@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #292b2c;
  color: #eaeaea;
  /* font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-size: large; */

  /* font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal; */

  font-family: "Nova Square", sans-serif;
  font-weight: 400;
  font-style: normal;
}
